
@{
    ViewData["Title"] = "SignupForm";
}

<h1>SignupForm</h1>

<form method="post" action="/MDot/ThankYou">
    First name: <input type="text" name="FirstName"/> <br />
    Last name: <input type="text" name="LastName"/> <br />
    <input type="submit"/>

</form>